.button-forgot {
    margin-top: 40px;
    margin: 0 auto;
    margin-top: 33px
}

.custom-title {
    text-align: center;
    width: 275px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    top: -211px;

}

.custom-itemforgot {
    top: -226px;
}

.custom-button {
    width: 100%;
}

.button-forgot {
    width: 100%;
}