.calendar-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.calendar-header {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.calendar-day {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

.calendar-row:last-child {
    border-bottom: none;
}

.calendar-day-outside {
    color: #bbb;
}

.calendar-row {
    border-bottom: 1px solid #ccc;
    height: 50px;
}

.calendar-event {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 2px;
    font-size: 0.7rem;
    text-align: center;
}

.calendar-event.meeting {
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.calendar-event.deadline {
    background-color: #e74c3c;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.calendar-event.holiday {
    background-color: #2ecc71;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.event-bars {
    display: flex;
    margin-top: 5px;
    gap: 2px;
}

.event-bar {
    height: 5px;
    width: 100%;
    border-radius: 3px;
}

.event-bar.meeting {
    background-color: blue;
}

.event-bar.lunch {
    background-color: green;
}

.event-bar.deadline {
    background-color: red;
}

.event-bar.holiday {
    background-color: orange;
}

.selected-day {
    border-radius: 50%;
    /* Círculo */
    background-color: white;
    height: 30px;
    width: 30px;
    /* Fondo blanco */
    color: black;
    /* Texto negro para contraste */
    font-weight: bold;
    /* Sombra para destacar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-day span {
    font-weight: bold;
    /* Resalta el número */
}