.calendar-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.calendar-header {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    height: 80px;
    text-align: center;
    border: none;
    /* Elimina todos los bordes */
    cursor: pointer;
    position: relative;
}



.calendar-day-outside {
    color: #bbb;
    /* Gris claro */
}

.calendar-row {
    border-bottom: 1px solid #ccc;
    /* Mantiene una línea horizontal entre filas */
}

.calendar-event {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 2px;
    font-size: 0.7rem;
    text-align: center;
}

/* Estilos para eventos */
.calendar-event.meeting {
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.calendar-event.deadline {
    background-color: #e74c3c;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.calendar-event.holiday {
    background-color: #2ecc71;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
    border-radius: 3px;
}



.calendar-day-outside {
    color: #ccc;
}